<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
  <style>
    @media screen {
      .main::after { background-image: url('{{ page.banner-large }}'); } }
    @media screen and (max-width: 1536px) and (max-height: 1536px) {
      .main::after { background-image: url('{{ page.banner-medium }}'); } }
    @media screen and (max-width: 768px) and (max-height: 768px) {
      .main::after { background-image: url('{{ page.banner-small }}'); } }
  </style>
</head>
<body class="entity composite landing">
  <main class="main">
    <h1>wayfarerx.net</h1>
    {{ content }}
  </main>
  {% include scripts.html %}
</body>
</html>
