---
---

@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong');

//
// Global Settings
//

$body-color: #15171a;
$background-color: #272b30;
$text-color: #c8c8c8;
$link-color: #ededed;
$visited-color: #dbdbdb;
$hover-color: #f5f5f5;
$active-color: #ffffff;

$size-small: 576px;
$size-medium: 768px;
$size-large: 992px;
$size-max: 1200px;

$font-headline: 'Trirong', serif;
$font-copy: 'Rubik', sans-serif;

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background: $body-color;
  color: $text-color;
  font-family: $font-headline;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body > header,
body > main,
body > footer {
  background: $background-color;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: $size-max;
}

body > main {
  flex-grow: 1;
  font-family: $font-copy;
}

body > main > header {
  font-family: $font-headline;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $visited-color;
}

a:hover {
  color: $hover-color;
}

a:active {
  color: $active-color;

}

@media (min-width: 577px) {

  body > main {
    border-left: 1em solid $body-color;
    border-right: 1em solid $body-color;
  }

}

//
// Page Header Settings
//

@import 'page-header';

//
// Page Footer Settings
//

@import 'page-footer';

//
// Topic Page Settings
//

@import 'page-topic';
