<header class="page-header">
  <nav>
    <a href="/" class="page-header-home"><div class="page-header-home">
      <img src="/images/wx32.png" alt="wayfarerx" class="page-header-home"/>
      <strong>wayfarerx.net</strong>
    </div></a>
    <ul class="page-header-links">
      <li class="page-header-link"><a href="/games/" class="page-header-link">Games</a></li>
      <li class="page-header-link"><a href="/drinks/" class="page-header-link">Drinks</a></li>
      <li class="page-header-link"><a href="/code/" class="page-header-link">Code</a></li>
    </ul>
  </nav>
</header>