
$background-color: #262216;
$container-color: #49412c;
$highlight-color: #97743a;

$link-color: #b0a18e;
$hover-color: #beb2a2;
$active-color: #ccc3b7;
$visited-color: #a09382;

$text-color: #928677;
$shadow-color: #000000;
$feature-color: #0a260a;

$background-color-fade: .3;

$headline-font: normal normal normal 1em 'IM Fell Great Primer', serif;
$lead-font: normal normal bold 1em 'Raleway', sans-serif;
$copy-font: normal normal normal 1em 'Raleway', sans-serif;

$small-max-size: 768px;
$medium-min-size: 769px;
$medium-max-size: 1536px;
$large-min-size: 1537px;

@media screen {

  *, *:before, *:after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  html, body {
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    background-color: $background-color;
    color: $text-color;
    font: $copy-font;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a:link {
    color: $link-color;
  }

  a:visited {
    color: $visited-color;
  }

  a:hover {
    color: $hover-color;
  }

  a:active {
    color: $active-color;
  }

}
