
main.page-topic {
  display: flex;
  flex-direction: column;

  header.page-topic-title {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: center;

    h1 {
      margin: 0;
      text-align: center;
      font-size: 4em;
    }

  }

  div.page-topic-headline {
    align-items: center;
    display: flex;
    flex-direction: column;

    hr {
      border: 1px solid #616161;
      margin: 1em 0;
      width: 50%;
    }

  }
}