
$nav-border: 1px solid #616161;

header.page-header {

  nav {
    background: linear-gradient(#2e3238, #343940);
    border: $nav-border;
    margin: 0;
    width: 100%;

    a.page-header-home {
      display: block;
      padding: .4em;
      text-align: center;
      text-decoration: none;
    }

    div.page-header-home {
      display: flex;
      align-items: center;
      font-size: 1.45em;
      margin: 0;
    }

    img.page-header-home {
      margin-right: .25em;
    }

    ul.page-header-links {
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li.page-header-link {
      height: 100%;
    }

    a.page-header-link {
      display: block;
      padding: .75em;
      text-align: center;
      text-decoration: none;
    }

    a.page-header-link:hover {
      background: linear-gradient(#343940, #3a4047);
    }

  }

}

@media (min-width: 284px) {

  header.page-header {
    nav, ul.page-header-links {
      display: flex;
    }
    nav {
      flex-direction: column;
      align-items: center;
    }

  }

}

@media (min-width: 577px) {

  header.page-header {

    nav {
      flex-direction: row;
      justify-content: space-between;

      li.page-header-link {
        border-left: $nav-border;
      }

    }

  }

}
